.services-experience {
    padding: 100px 0px;
    position: relative;
  }
  .services-experience::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: -1;
  }
  
  .services,
  .experiences,
  .portfolios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .services .service {
    flex: 0 0 calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
    width: 100%;
    background: #f4f4f4;
    padding: 50px;
    transition: 0.3s;
    
  }
  .service i {
    margin-bottom: 10px;
    font-size: 40px;
    color: var(--red-text);
  }
  .service h3 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 15px;
  }
  .service p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .service .btn {
    justify-content: flex-start;
    background: none;
    color: var(--red);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .services .service.active,
  .services .service:hover {
    background: var(--red);
  }
  .service.active i,
  .service:hover i,
  .service.active .btn,
  .service:hover .btn {
    color: var(--light);
  }
  .service .btn:hover {
    transform: translateX(10px);
  }
  
  