@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
:root {
  --red: #cd3128;
  --red-dark: #ab261f;
  --red-text: #ef403f;
  --dark-light: #181818;
  --dark: #111;
  --light: #ffffff;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--whitesmoke);
  color: var(--smoke);
}
.container{
  
    max-width: 1200px;
    padding: 0px 30px;
    width: 100%;
    margin: auto;
    
  
}
.header-inner {
  max-width: 12000px;
  padding: 0px 30px;
  width: 100%;
  margin: auto;
  
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  transition: 0.3s;
  width: 100%;
  cursor: pointer;
}
img {
  width: 100%;
}
header {
  height: 60px;
  padding-top: 20px;
  background-color: rgb(248, 245, 245);
  padding-bottom: 5px;
}
header.sticky {
  box-shadow: 0 0 5px rgba(137, 216, 216, 0.6);
 
  background: var(--dark-light);
  height: 70px;
}
header .header-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: rgb(53, 175, 236);

 
  
}
.header-inner .logo {
  font-size: 15px;
  line-height: 50px;
  color: var(--blue-text);
  font-weight: 1000;
  letter-spacing: 0.5vmin;
  font-family:  monospace;
  
}
.header-inner .link {
  margin-right: 30px;
  color: var(--blue-text);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  transition: 0.3s;
}
.header-inner .link:hover {
  color: var(--black-text);
}
header .menu {
  display: none;
}
header .mobile-links {
  display: none;
}



